<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head"></head>

<body>

<nav th:replace="fragments/nav"></nav>

<div class="container" id="main-container">

    <h2>Detalles del profesor</h2>

    <div class="card">
        <div class="card-header">ID</div>
        <div class="card-body">
            <p class="card-text" th:text="${professor.id}">100</p>
        </div>
    </div>

    <br>

    <div class="card">
        <div class="card-header">Dni</div>
        <div class="card-body">
            <p class="card-text" th:text="${professor.dni}"> dni</p>
        </div>
    </div>

    <br>

    <div class="card">
        <div class="card-header">Descripción</div>
        <div class="card-body">
            <p class="card-text" th:text="${professor.name}"> name</p>
        </div>
    </div>

    <br>

    <div class="card">
        <div class="card-header">surname</div>
        <div class="card-body">
            <p class="card-text" th:text="${professor.surname}">100</p>
        </div>
    </div>

    <br>

    <div class="card">
        <div class="card-header">category</div>
        <div class="card-body">
            <p class="card-text" th:text="${professor.category}">100</p>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer"></footer>

</body>
</html>
