<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head"></head>

<body>

<nav th:replace="fragments/nav"></nav>

<div class="container" id="main-container">

    <h2>Detalles del usuario</h2>

    <br>

    <div class="card">
        <div class="card-header">DNI</div>
        <div class="card-body">
            <p class="card-text" th:text="${user.dni}">DNI:</p>
        </div>
    </div>

    <br>

    <div class="card">
        <div class="card-header">Nombre</div>
        <div class="card-body">
            <p class="card-text" th:text="${user.name}"> name</p>
        </div>
    </div>

    <br>

    <div class="card">
        <div class="card-header">Apellido</div>
        <div class="card-body">
            <p class="card-text" th:text="${user.lastName}">surname</p>
        </div>
    </div>

</div>

<footer th:replace="fragments/footer"></footer>

</body>
</html>
